.line-chart-card {
    background: #fff;
    border-radius: 16px;
    padding: 28px 18px 22px 18px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.03);
    min-width: 320px;
    max-width: 550px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line-chart-card h4 {
    font-weight: 700;
    color: #232c48;
    margin-bottom: 12px;
    font-size: 1.08rem;
  }