.pie-chart-card {
    background: #19213a;
    border-radius: 16px;
    padding: 28px 18px 22px 18px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.03);
    min-width: 270px;
    max-width: 390px;
    flex: 1;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pie-chart-card h4 {
    font-weight: 700;
    color: #232c48;
    margin-bottom: 12px;
    font-size: 1.08rem;
  }
  
  @media (max-width: 768px){
    .pie-chart-card{
      position: relative;
      bottom: 10px;
      left: 8px;
    }
  }