.modal-backdrop {
    position: fixed;
    top:0; left:0; right:0; bottom:0;
    background: rgba(30,40,80,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1005;
  }
  .modal-content {
    background: #2e405e;
    border-radius: 14px;
    padding: 36px 30px 28px 30px;
    min-width: 300px;
    max-width: 90vw;
    min-height: 100px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.04);
    position: relative;
  }
  .modal-close {
    position: absolute;
    right: 2px; top: 1px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #e03131;
    cursor: pointer;
  }