.food-water-page {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fw-row {
  display: flex;
  gap: 24px;
}

.fw-card {
  background: #19213a;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(22,34,50,0.04);
  padding: 32px 28px;
  flex: 1;
  min-width: 340px;
  border: #3f4653 solid 0.5px;
}

/* 📱 Mobile adjustments */
@media (max-width: 768px) {
  .fw-row {
    flex-direction: column;
  }

  .nutrition-tips {
    display: none;
  }

  .fw-card {
    min-width: auto;
    width: 85%;
  }

}
