.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: #151b2c;
  text-align: center;
  position: relative;
  right: 110px;
  bottom: 30px;
}

.landing-container img,
.landing-logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
}

.landing-title {
  font-size: 4rem;
  color: #bdc8da;
  margin: 0;
  font-family: 'Pacifico', cursive;
  position: relative;
  bottom: 40px;
}

.landing-subtitle {
  font-size: 1.25rem;
  color: #475569;
  margin-bottom: 2rem;
}

.landing-slogan {
  font-size: 1.5rem;
  color: #94a3b8;
  margin-top: -20px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  opacity: 0;
  animation: fadeInSlogan 0.8s ease-out forwards;
  animation-delay: 1.2s;
}

@keyframes fadeInSlogan {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.landing-buttons button {
  padding: 12px 28px;
  font-size: 1.5rem;
  background-color: #334563;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.landing-buttons button:hover {
  background-color: #4e658d;
}

.drop-title {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.drop-title span {
  opacity: 0;
  transform: translateY(-80px);
  animation: dropIn 0.6s ease-out forwards;
}

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 480px) {
  .landing-container{
    position: fixed;
    top: 8vh;
    margin-left: 5px

  }
  .drop-title span {
    font-size: 2.7rem;
    position: relative;
    bottom: 40px;
    left: 85px;
  }
  .landing-logo{
    position: relative;
    bottom: 50px;
    left: 110px;

  }
  .landing-subtitle, .landing-slogan, .landing-buttons{
    position: relative;
    bottom: 70px;
    left: 80px;
  }

  .landing-subtitle {
    font-size: 1rem;
  }

  .landing-slogan {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-left: 20px;
  }

  .landing-buttons {
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin-left: 20px;
  }

  .landing-buttons button {
    width: 50%;
    font-size: 17px;
    position: relative;
    left: 70px;
    border-radius: 18px;
  }
}
