.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    min-height: 100vh;
    background-color: #151b2c;
    position: relative;
    right: 100px;
    bottom: 50px;
  }
  .landing-container img{
 width: 700px;
 
  }
  .landing-logo {
    width: 700px;
    height: 400px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .landing-title {
    font-size: 6rem;
    color: #bdc8da;
    margin: 0;
    font-family: 'Pacifico', cursive;
    position: relative;
    bottom: 40px;
  }
  
  .landing-subtitle {
    font-size: 1.25rem;
    color: #475569;
    margin-bottom: 2rem;
  }
  .landing-slogan {
    font-size: 1.5rem;
    color: #94a3b8;
    margin-top: -20px;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    animation: fadeInSlogan 0.8s ease-out forwards;
    animation-delay: 1.2s;
}
  
@keyframes fadeInSlogan {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  .landing-buttons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .landing-buttons button {
    padding: 12px 28px;
    font-size: 1rem;
    background-color: #334563;
    color: white;
    border: none;
    border-radius: 9999px; /* fully rounded */
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .landing-buttons button:hover {
    background-color: #4e658d;
  }
  
  .drop-title {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
  
  .drop-title span {
    opacity: 0;
    transform: translateY(-80px);
    animation: dropIn 0.6s ease-out forwards;
  }
  
  @keyframes dropIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 480px) {
    .landing-title {
      font-size: 2rem;
    }
  
    .landing-subtitle {
      font-size: 1rem;
    }
  
    .landing-buttons button {
      width: 100%;
      max-width: 240px;
    }
  }
  